extends layouts/main

block variables
    - var main_list = [{name: "Правила проведения", href: '/rules'}, {name: "Все олимпиады", href: 'https://mon-vso.ru/events'}]
    - var footer_list = [{name: "Документы", href: './documents.html'}, {name: "Контакты", href: './contacts.html'},{name:'Поддержка',href:'./support.html'}]
    - var sponsors_list = [{name: "Министерство образования и науки Российской Федерации", href: 'http://xn--80abucjiibhv9a.xn--p1ai/',src:'./img/logo_mon.png'}, {name: "ВСО", href: 'https://mon-vso.ru/events',src:'./img/logo_vso.png'}]
    - var subjects_list = [{name:'История',date:'Февраль 2018',qDate:'01 Января - 31 Января',pCount: '1 750'},{name:'Конкурс научно-исследовательских работ “Физика перспективных материалов”',date:'Февраль 2018',qDate:'01 Января - 31 Января',pCount: '689'},{name:'Администрирование компьютерных систем',date:'Февраль 2018',qDate:'01 Января - 31 Января',pCount: '2 340'}]
    - var auth = false
    - var login = false
block page_content
    .body__main_container.main_page
        .main_container.cover
            .main_content__header
                h1 До начала олимпиады 11 дней
            .main_content
                .frames.subjects_frames
                    +subjectFrame(subjects_list)
