extends layouts/main

block variables
    - var main_list = [{name: "Правила проведения", href: '/rules'}, {name: "Все олимпиады", href: 'https://mon-vso.ru/events'}]
    - var footer_list = [{name: "Документы", href: '/documents'}, {name: "Контакты", href: '/contacts'},{name:'Поддержка',href:'/support'}]
    - var sponsors_list = [{name: "Министерство образования и науки Российской Федерации", href: 'http://xn--80abucjiibhv9a.xn--p1ai/',src:'/img/logo_mon.png'}, {name: "ВСО", href: 'https://mon-vso.ru/events',src:'/img/logo_vso.png'}]
    - var left_form =[{name:'Ваша Фамилия:',id:'fLastName',type:'text',placeholder:'Фамилия'},{name:'Ваше Имя:',id:'fFirstName',type:'text',placeholder:'Имя'},{name:'Ваше Отчество:',id:'fMiddleName',type:'text',placeholder:'Отчество'},{name:'Пол',id:'fSex',type:'gender'},{name:'Номер телефона:',id:'fPhoneNumber',type:'phone',placeholder:'+_ (___) ___ __-__'},{name:'Ваша электронная почта:',id:'fEmail',type:'email',placeholder:'Электронная почта'}]
    - var right_form =[{name:'Ваш Город:',id:'fCity',type:'text',placeholder:'Город'},{name:'Ваш Университет:',id:'fUniversity',type:'text',placeholder:'Университет'},{name:'Ваш Факультет:',id:'fFaculty',type:'text',placeholder:'Факультет'},{name:'Дата рождения',id:'fDate',type:'text',placeholder:'__.__.____'},{name:'Введите пароль:',id:'fPassword',type:'password',placeholder:''},{name:'Повторите пароль:',id:'fRepeatPassword',type:'password',placeholder:''}]
    - var auth = true
    - var signup = false

block page_content
    .body__main_container
        .main_container.cover
            if signup
                .main_content__auth
                    .frame-s
                        h3 Регистрация успешно завершена
            else
                .main_content__auth
                    .frame.auth_frame
                        .auth_frame__header
                            h3 Регистрация участника
                        form.auth_frame__form(method='POST')
                            .frame_form
                                .frame_form_left
                                    +formsInputs(left_form)
                                .frame_form_right
                                    +formsInputs(right_form)
                            .frame_form.frame_form_bottom
                                .frame_form_offer
                                    input(type='checkbox',id='fUserOfer')
                                    label(for='fUserOfer')= 'Я прочитал и согласен с условиями '
                                        a(href="#") ”Пользовательского соглашения”
                                .frame_form_ready
                                    +button('blue','Зарегистрироваться')